/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

/* 배경 색상 */
body {
    background-color: #FFFFFF;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* 메인 컨테이너 */
.container {
    width: 90%;
    height: 90%;
    max-width: 1920px;
    max-height: 1080px;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    color: #333;
}

/* 메인 레이아웃 */
.main-content {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

/* 왼쪽 섹션 */
.left-section {
    flex: 1;
    width: 60%;
    height: 100%;
    /*height: auto;*/
    position: absolute;
    top: 0;
    left: 0;
}

/* 제목 박스 */
.title-box {
    position: relative;
    background-color: #0067A3;
    height: 60%;
    width: 100%;
    max-height: 500px;
    max-width: 1000px;
    padding: 50px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}

/* 오른쪽 섹션 */
.right-section {
    flex: 1;
    position: absolute;
    width: 50%;
    height: 100%;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

/* 업로드 영역 */
.upload-area {
    position: relative;
    background-color: #f0f0f0;
    width: 100%;
    height: 50%;
    max-width: 1000px;
    max-height: 500px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #999;
    /*font-size: 1.5em;*/
    font-size: 1.5vw; /* 화면 크기에 비례하여 글씨 크기 조정 */
    padding: 2vw; /* 화면 크기에 맞춰 패딩 조정 */
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}

/* 아이콘 크기 조정 */
.upload-area img {
    width: 10vw; /* 화면 크기에 따라 아이콘 크기 조정 */
    max-width: 100px; /* 최대 크기 제한 */
    height: auto;
}

/* 내부 점선 스타일 */
.upload-area::before {
    content: '';
    position: absolute;
    top: 10px; /* 원하는 간격으로 조정 */
    left: 10px;
    right: 10px;
    bottom: 10px;
    border: 2px dashed #999; /* 점선 스타일과 색상 */
    border-radius: 12px; /* 점선의 모서리를 부드럽게 */
    pointer-events: none; /* 점선이 클릭 이벤트에 영향을 주지 않도록 */
}

/* 버튼 컨테이너 */
.button-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.mode-container, .ratio-container {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

/* 공통 버튼 스타일 */
.mode-button, .ratio-button, .action-button {
    background-color: #0067A3;
    border: none;
    padding: 10px 20px;
    color: #fff;
    font-size: 0.9em;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s, color 0.3s;
}

.mode-button:hover, .ratio-button:hover, .action-button:hover {
    background-color: #0067A3;
}

/* 선택된 버튼 스타일 */
.mode-button.selected, .ratio-button.selected {
    background-color: #fff;
    color: #0067A3;
    border: 2px solid #0067A3;
    position: relative;
    padding-left: 30px; /* 체크 아이콘 위치 조정 */
}

/* 체크 이미지 스타일 */
.mode-button.selected::before, .ratio-button.selected::before {
    content: '';
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background-image: url('/static/check.png'); /* check.png 이미지 경로 */
    background-size: contain;
    background-repeat: no-repeat;
    color: #0067A3;
}

/* 여백 입력란 스타일 */
.margin-input-container {
    display: flex;
    align-items: center;
    margin-top: 0px;
    font-size: 1em;
    color: #0067A3;
}

.margin-label {
    margin-right: 10px;
    font-weight: 600;
}

.margin-input {
    width: 50px;
    padding: 5px;
    margin-right: 5px;
    border: 2px solid #0067A3;
    border-radius: 5px;
    text-align: center;
    font-weight: 600;
    color: #0067A3;
}

.upload-area.drag-over {
    border-color: #0067A3;
    background-color: #FFF3E0;
}

.upload-preview {
    display: none; /* 파일이 없을 때는 숨기기 */
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
    padding: 20px;
    width: 100%;
    text-align: center;
    max-height: 300px;
    overflow-y: auto;
    align-items: center; /* 상단부터 채우기 */
    justify-content: center;
}

.file-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    font-size: 0.9em;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    position: relative;
    text-align: center;
}

.file-icon {
    font-size: 2em;
    color: #666;
    margin-bottom: 5px;
}

.file-name {
    margin-top: 5px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 80px;
}

.remove-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    cursor: pointer;
    color: #888;
    font-size: 1.2em;
    padding: 0;
    line-height: 1;
}

.remove-button:hover {
    color: #0067A3;
}

/* 작은 화면에서 비율 최적화 */
@media (max-width: 768px) {
    .main-content {
        flex-direction: column;
        align-items: stretch; /* 컨테이너 너비를 꽉 채우기 */
        justify-content: flex-start;
        gap: 15px; /* 섹션 간 불필요한 공백 제거 */
    }

    .left-section, .right-section {
        width: 100%;
        min-height: 200px; /* 최소 높이 설정 */
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center; /* 안의 요소를 중앙 정렬 */
        align-items: center;
        padding: 15px;
        /*background-color: #666666;*/
        border-radius: 10px;
    }

    /* 제목 박스 크기 조절 */
    .title-box {
        height: 10vh; /* 뷰포트 높이 기준 */
        width: 100%;
        max-height: 160px;
        min-height: 90px;
        padding: 15px;
        font-size: 1.4em;
        margin-bottom: 15px; /* 아래 간격 통일 */
    }

    /* 버튼 및 입력 필드 간격 통일 */
    .mode-container,
    .ratio-container,
    .margin-input-container {
        display: flex;
        justify-content: flex-start;
        gap: 10px;
        margin-bottom: 15px; /* 간격 통일 */
        width: 100%;
    }

    /* 업로드 영역 크기 조절 */
    .upload-area {
        width: 100%;
        height: 25vh; /* 뷰포트 높이의 25% */
        max-height: 220px;
        margin-top: 10px;
    }

    /* 버튼 컨테이너 정렬 */
    .button-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start; /* 위쪽 배치 */
        gap: 10px; /* 버튼 간격 조정 */
        width: 100%;
    }

    /* 버튼 크기 조정 */
    .action-button {
        width: 100%;
        font-size: 0.9rem;
        padding: 12px;
    }

    .upload-area {
        font-size: 3vw; /* 작은 화면에서는 글씨 크기 더 키우기 */
        padding: 3vw;
    }

    .upload-area img {
        width: 15vw; /* 작은 화면에서는 아이콘 크기 확대 */
        max-width: 80px; /* 최대 크기 제한 */
    }
}
